<routes xmlns="http://camel.apache.org/schema/spring">
    <route id="refreshBundle">
      <from uri="seda:refresh-start"/>
      <bean ref="bundleRefreshProcessor"/>
    </route>
 
    <route id="cache-refresher">
      <from uri="timer://cache-refresh?period=1h"/>
      <bean ref="bundleCacheUpdateProcessor"/>
    </route>
</routes>  